.App {
  font-family: 'Noto Sans', sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  border: 1px black solid;
  background: #cd0000;
  min-height: 100vh;
}

p {
  font-size: 24px;
}

h1 {
  font-size: 56px;
}

h3 {
  font-size: 36px;
  color: #e1d816;
}

.header {
  padding-left: 20px;
  padding-right: 20px;
  border: 1px black solid;
}

.colors {
  color: #000000;
  color: #4ECDC4;
  color: #cd0000;
  color: #9c9723;
  color: #e1d816;
}

#root {
  background:#000000;
}